/* Your button CSS file */
.btn-blue {
  padding: 15px 20px;
  text-decoration: none;
  font-family: 'Roboto',sans-serif;
  font-weight: 300;
  color: #FFF;
  background-color: #519473;
  transition: 0.3s;
  border-radius: 3px;
  display: inline-block;
}

.btn-blue:hover{
  color:#FFFFFF;
  border-color:#FFFFFF;
  background-color: #2d5742;
}
